<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<p th:text="${book.getNameOfBook()+', '+book.getAuthor()+', '+book.getYear()}">VALUE</p>
<a th:if="${person} != null "> This book is not free. </a>
<a th:unless="${person} != null "> This book is free. </a>


<a th:href="@{/books/{id}/edit (id=${book.getId()}) }"> Edit</a>

<form th:method="DELETE" th:action="@{/books/{id} (id = ${book.getId()}) }">
    <br>
    <br>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>