<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<p th:text="${book.getNameOfBook()+', '+book.getAuthor()+', '+book.getYear()}">VALUE</p>


<a th:if="${person} != null ">
   <p th:text= "'This book is now in the possession of: ' + ${person.getName()}" >VALUE</p>

    <a th:href="@{/books/{id}/free (id=${book.getId()}) }"> <input type="submit" value="Free the book"/> </a>

</a>

<a th:unless="${person} != null ">
    This book is free.
    <br>
    Select the person to whom you want to assign the book:

</a>

<br>
<br>
<a th:href="@{/books/{id}/edit (id=${book.getId()}) }"> Edit</a>


<form th:method="DELETE" th:action="@{/books/{id} (id = ${book.getId()}) }">
    <br>
      <input type="submit" value="Delete"/>
</form>
<br>
<br>
<a th:href="@{/books }"> >< Back to book list </a>
<br>
<br>
<a th:href="@{/people }"> o-<  Back to people list </a>


</body>
</html>